<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My To Do List</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <span class="navbar-text">
        Just an essential decorative item
      </span>
    </div>
  </div>
</nav>
<body>
<main>
  <section>
    <h1>To do List</h1>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="What should I do today?" aria-label="Enter Todo"
             aria-describedby="button-addon2" [(ngModel)]="newTodo" maxlength="20">
      <button (click)="saveTodo()">Add</button>
    </div>
    <div class="container">
      <div class="row">
        <div class="col col-lg-2">
          <table class="fixed table table-light table-striped table-hover">
            <tbody>
            <tr *ngFor="let todo of todos; let i = index;">
              <th scope="row">{{ i + 1 }}</th>
              <td class="{{ (!todo.isCompleted) ? 'done' : ''}}" (click)="done(i)">{{ todo.name }}</td>
              <td id = "last" (click)="remove(i)">X</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>
</body>
